@inherits LayoutComponentBase

<PageTitle>TDSABADO2</PageTitle>

<header>
    <div class="headercontainer">
        <h1>TDSABADO2</h1>
        <a href="/login" style="color: white;">Logar</a>
    </div>
    
</header>

<main>
    @Body
</main>

