@page "/formulario"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage

<div class="formulariocontainer">   
    
    <div class="formulariocontainer">
        
        

    </div>
</div>