@page "/login"

<p>
<label>Nome</label>
    <input type="text"/>
</p>

<p>
<label>Senha</label>
    <input type="password"/>
</p>

<p>
    <label>DataNascimento</label>
    <input type="date"/>
</p>

<p>
    <label>Nome de Usuário</label>
    <input type="text"/>
</p>

<button onclick="@CreateAccount">Criar Conta</button>

@code 
{
    public void CreateAccount()
    {
        
    }
}