.logincontainer{
   padding: 10px;
   background-color: grey;
   border: 5px;
   border-color: blue;
   border-radius: 5px;
   position: center;
   width: 530px;
   height: 250px;
   left: 117px;
   top: 208px;
}

.logcontainer{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background: #E5E5E5;
   border-radius: 10px;
}
