@page "/login"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage

<div class="logcontainer">   
    
    <div class="logincontainer">
        @if (loginError != "")
        {
        <p>
            <label style="color: red;">@loginError</label>
        </p>
        }
        <p>
            <label>E-mail</label>
            <input type="text" @bind-value="@email"/>
        </p>

        <p>
            <label>Senha</label>
            <input type="password" @bind-value="@password"/>
        </p>

        <button onclick="@UserLogin">
            Entrar
        </button>
    </div>
</div>

@code 
{
    private string name;
    private string password;
    private string repeatpassword;
    private string email;
    private string city;
    private string state;
    private string country;
    private string userId;
    private string loginError;

    public async void UserLogin()
    {
        var result = await service.Login(
            this.email,
            this.password
        );
        
        if (result == null)
        {
            loginError = "Senha ou login incorreto.";
            StateHasChanged();
            return;
        }
         
        await storage.SetAsync("token", result);
        nav.NavigateTo("/");
    }
}